<ion-header color="PRIMARY">
  <ion-toolbar>
    <ion-title>
      BINARY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input placeholder="Número A" type="text" [(ngModel)]="numeroA"></ion-input>
    <ion-input placeholder="Númeor B" [(ngModel)]="numeroB" class="ion-text-right"></ion-input>
    
    <ion-button expand="block" (click)="Suma()">SUMA</ion-button>
    <ion-button expand="block">RESTA</ion-button>
    <ion-button expand="block" (click)="Multiplicacion()">MULTIPLICACIÓN</ion-button>
    <ion-button expand="block">DIVISIÓN</ion-button>
  </div>
</ion-content>
